/* .deco{
    display: flex;
    background: url("../img/bo3.webp") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    color: black;
    min-height: 100px;
} */

body {
    background-color: #1a2332;
    width: 100%;
    height: 100%;
}

.container1 {
    width: 100%;
    height: 100%;
    background-color: #1a2332;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    height: 610px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px #ffb753;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.model {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p {
    font-family: Poppins;
    font-weight: bold;
    color: #1a2332;
    text-align: center;
    margin-top: 20px;
}

.nous {
    color: #E78B0E;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "GODOFWAR";
    font-size: 25px;
}

.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .nous{
	color:#c0292b;
	transition: all ease 0.5s;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}

#monBouton{
    background-color: rgb(141, 138, 138);
    color: #1a2332;
    font-family: "GODOFWAR";
    height: 80px;
    width: 100px;
    margin-left: 110em;
}

@media(max-width:1000px){
    #monBouton{
        margin-left: 80em;
        height: 60px;
        width: 80px;
    }
	
}

@media(max-width:720px){
    #monBouton{
        margin-left: 80em;
    }
	
}