body {
    background-color: #1a2332;
    width: 100%;
    height: 100%;
}


.carousel-inner {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1a2332;
}

.card {
    height: fit-content;
    color: #1a2332;
    background-color: #1a2332;
}

.title {
    background-color: #FCBC64;
    text-align: center;
    text-decoration: underline;
    margin-bottom: -1px;
}

#autoWidth {
    display: flex;
}

.item-a{
    width: 50%;
}

@media (max-width: 1150px) {
    #autoWidth {
    display:inline-block;
    }

    .item-a{
        width: 100%;
    }
}