@font-face {
    font-family: "GODOFWAR";
    src: url("../FONT/GODOFWAR.TTF") format('ttf');
}
@font-face {
    font-family: "Vampire";
    src: url('../FONT/Vampire-Wars.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "GODOFWAR";
}

p, button, a {
    font-family: "Poppins";
}

/* ----navbar---- */

.navbar {
    height: 100px;
    width: 100%;
    margin-left: 1vw; 
    margin-right: auto; 
    padding: 0, 0;
}

.navbar .container {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: #1a2332;
    opacity: 0.9;
    max-width: 95vw;
    border-radius: 10px;
}



.navbar .container img {
    width: 120px;
}

.navbar .container a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "Vampire";
    transition: 0.3s;
    margin-right: 2vw;

}

.navbar .container a:hover {
    color: #E78B0E;
    font-size: 1.3em;
    transition: 0.3s;
}

@media (max-width: 700px) {

    .navbar{
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar .container {
        max-width: 100%;
        margin-top: 1vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    .navbar .container a {
        font-size: 0.9em;
    }

    .navbar .container img {
        width: 98px;
    }
}


/* ----section 1---- */

.sect1 {
    margin-top: 100;
    background-color: #1a2332;
}


.sect1 .container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.sect1 .container .left h1 {
    font-size: 7em;
    color: #fff;
    text-shadow: 0 0 10px #888888;
}

.sect1 .container .left p {
    color: #E78B0E;
    max-width: 600px;
    font-family: "Vampire";
    font-weight: bold;
    font-size: 1.3em;
    margin: 30px 0;
}


.sect1 .container .left .button-27 {
  appearance: none;
  background-color: #FCBC64;
  border: 2px solid #1a2332;
  width: 300px;
  height: 65px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1a2332;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.2em;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.sect1 .container .left .button-27:disabled {
  pointer-events: none;
}

.sect1 .container .left .button-27:hover {
  box-shadow: #E78B0E 0 6px 10px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}


/* ----responsive container---- */

@media (max-width: 1500px) {
    .sect1 .container .left h1{
        font-size: 5em;
    }
}

@media (max-width: 1300px) {
    .sect1 .container {
        flex-direction: column;
    }

    .sect1 .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sect1 .right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sect1 .right img {
        margin-top: 75px;
        width: 90%;
    }
}

@media (max-width: 650px) {
    .sect1 .container .left h1 {
        font-size: 4em;
    }

    .sect1 .container .left p {
        margin: 40px 35px;
    }
}

